<section class="cms-section-trust stats-bar-01">
  <div class="sb1-inner">
    <div class="sb1-item" data-animate>
      <span class="sb1-val" data-target="{{S1_VAL}}">0</span><span class="sb1-suf">{{S1_SUF}}</span>
      <span class="sb1-lbl">{{S1_LBL}}</span>
    </div>
    <div class="sb1-divider"></div>
    <div class="sb1-item" data-animate data-delay="100">
      <span class="sb1-val" data-target="{{S2_VAL}}">0</span><span class="sb1-suf">{{S2_SUF}}</span>
      <span class="sb1-lbl">{{S2_LBL}}</span>
    </div>
    <div class="sb1-divider"></div>
    <div class="sb1-item" data-animate data-delay="200">
      <span class="sb1-val" data-target="{{S3_VAL}}">0</span><span class="sb1-suf">{{S3_SUF}}</span>
      <span class="sb1-lbl">{{S3_LBL}}</span>
    </div>
    <div class="sb1-divider"></div>
    <div class="sb1-item" data-animate data-delay="300">
      <span class="sb1-val" data-target="{{S4_VAL}}">0</span><span class="sb1-suf">{{S4_SUF}}</span>
      <span class="sb1-lbl">{{S4_LBL}}</span>
    </div>
  </div>
</section>
