<div class="cd-inner">
  <p class="cd-label">⏰ Акція закінчується через:</p>
  <div class="cd-timer" id="cd-timer">
    <div class="cd-unit"><span class="cd-digit" id="cd-h">00</span><span class="cd-unit-label">годин</span></div>
    <span class="cd-sep">:</span>
    <div class="cd-unit"><span class="cd-digit" id="cd-m">00</span><span class="cd-unit-label">хвилин</span></div>
    <span class="cd-sep">:</span>
    <div class="cd-unit"><span class="cd-digit" id="cd-s">00</span><span class="cd-unit-label">секунд</span></div>
  </div>
  <p class="cd-sub">Після закінчення ціна повернеться до 1 290 грн</p>
</div>
