<div class="ft-inner">
  <div class="ft-brand">
    <span class="ft-logo">Ваш Бренд</span>
  </div>
  <div class="ft-links">
    <a href="#">Умови використання</a>
    <a href="#">Політика конфіденційності</a>
    <a href="#">Доставка та повернення</a>
  </div>
  <div class="ft-contacts">
    <a href="tel:+380991234567">+38 (099) 123-45-67</a>
    <a href="mailto:info@yourbrand.com">info@yourbrand.com</a>
  </div>
  <p class="ft-copy">© 2026 Ваш Бренд. Всі права захищено.</p>
  <p class="ft-disclaimer">Результати індивідуальні. Продукт не є лікарським засобом.</p>
</div>
